footer{
    background-color: rgba(0,0,0,0.87);
    margin-bottom:-20px;
}
header{
	height: 100vh !important;
}
.navbar-default .navbar-brand{
		color:#777;
		font-size:30px;
		font-weight:700;
	}

@media (min-width:768px) {
	#home{
		margin-top:50px;
	}
	#home .slogan{
		color: #0e385f;
		line-height: 29px;
        font-weight:bold;
    }

}
section#services{
	padding-top: 40px;
}
section#content{
	padding-top:0px;
	padding-bottom:0px;
}
.btn-red-brown {
    color: #fff;
    background-color:#ee6e73;
    border-color: #ee6e73;
}
.right-text{
    padding: 15px;
}